[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
ipython = "*"
pytest = "*"
"autopep8" = "*"
isort = "*"
tox = ">=3.7"
pytest-cov = "*"
codecov = "*"
pytest-xdist = "*"
twine = "*"
wheel = "*"
sample = {editable = true,path = "."}

[requires]
python_version = "3.6"

[scripts]
sort = "isort --recursive setup.py sample tests"
fix = "autopep8 --in-place --recursive --verbose --aggressive --aggressive setup.py sample tests"
